.Cart{
    position: fixed;
    top: 40px;
    right: 0;
    width: 300px; /*adjust as needed*/
    height: 100vh;
    background-color: #fff;
    border-left: 1px solid #ddd;
    padding: 20px;
    overflow-y: scroll; /*in case the contents exceed the height*/
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
