.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
@font-face {
    font-family: 'YourFont';
    src: url('./asset/KoneRomiCuteThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.searchLogo{
font-family: "YourFont";
font-weight: bold;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header_logo{
    width: 100px;
    display: flex;
    object-fit: contain;
    margin: 0 20px;

}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionbasket{
    display: flex;
    align-items: center;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.Location {
    display: flex;
    justify-content: space-around; /* or 'space-between' if you prefer */
    align-items: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Add a gap between elements */
  }
  .time{
    display: flex;
    flex-direction: column;
    gap: 16px; /* Add a gap between elements */
  }
  