
html{
    scroll-behavior: smooth;
    scroll-padding-top: 700px;
}
.Home_img{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}
.home{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}
.home_row{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0px;
    justify-items: center;
    top: -115px;
    position: relative;
}
.busket{
    overflow: auto;
    height: 450px;
    background: #fff;
    scroll-padding-top: 300px;  
}
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
  }
  ::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
  }
  .cheackout_right{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 65px;
    height: fit-content;
  }
  .icon{
    width: 15px;
    height: 15px;
  }
  .Button{
    padding: 1px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    width: 150px;
  }
  .row{
    justify-content: space-around;
    height: 30px;
    z-index: 2;
    width: 365px;
    display: flex;
    position: relative;
    left: 350px;
    top: -125px;
    flex-wrap: nowrap;
  }
  @media screen and (max-width: 600px) {
    .home {
      flex-wrap: wrap; /* Allows the elements inside the container to wrap to the next line */
    }
    .home_row {
      grid-template-columns: repeat(3, 50%); /* Changes the number of columns to 2 */
    }
    .busket {
      height: auto; /* Allows the height to adjust to the content inside */
    }
    .cheackout_right {
      position: relative; /* Removes the sticky position */
      top: 0; /* Removes the offset */
    }
    .Button {
      width: 100%; /* Makes the button fill the full width of the container */
    }
  }